{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}

    <div class="text-center">
        <h3 class="mt-5 mb-4">
            Register
        </h3>
        <p class="mb-5">
            Already have an account? <a href="/login">LOG IN</a>
        </p>
        <form action="/register" method="post">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password" minlength="8">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirm password" type="password" minlength="8">
            </div>
            <button class="btn btn-primary" type="submit">Register</button>
        </form>
    </div>

{% endblock %}
